/* PC */
@mmedia (min-width: 992px) {
}

/* Tablet & Mobile */

@media (max-width: 991.98px) {
  .navbar {
    display: none;
  }

  .header__body {
    position: relative;
  }

  .Logo_web {
    position: absolute;
    left: 50%;
    translate: -50% -10%;
  }
}

/* Table  */

@media (min-width: 768x) and (max-width: 991.98) {
}

/* Mobile  */
@media (max-width: 767.98px) {
}
